.card {
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    border: none;
    text-align: left;

    // .card-image {
    //     width: 12rem;
    //     height: 12rem;
    //     object-fit: cover;
    // }
    .card-title {
        text-decoration: underline;
        text-decoration-color: #be1e11;
        padding: 0 0 0 12px;
    }

    .card-text {
        border-left: 2px solid #be1e11;
        padding: 0 0 0 12px;
    }
}