.card {
    display: flex;
    align-items: center;
    height: 100%;
    border: 2px solid #be1e11;

    // .card-image {
    //     width: 12rem;
    //     height: 12rem;
    //     object-fit: cover;
    // }
    .card-title {
        text-decoration: underline;
        text-decoration-color: #be1e11;
    }
    // .card-text{
    //     text-align: justify;
    // }
}