.our-identity {
    margin: 24px 0px 0px 0px;
    font-size: 32px;
}

.right-col {
    background-color: #be1e11;

    .card {
        .card-title {
            color: #fff79a;
        }

        .card-text {
            color: #fff;
            border-left: 2px solid #fff79a;
        }
    }
}
.card-title {
    font-size: 24px;
}

.row {
    --bs-gutter-x: 0rem;
}