.our-identity {
    margin: 24px 0px 0px 0px;
    font-size: 32px;
}

.cards-container {
    .row {
        .card-col {
            padding-bottom: 16px;
        }

        // display: flex;
        // padding: 32px 0px 64px 0px;
        // gap: 8px;
        // font-size: 14px;
        // align-content: stretch;
        // flex-wrap: wrap;
        // align-items: stretch;
        // justify-content: space-evenly;
    }
}